.contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section-title{
    font-size: 32px;
    font-weight: 700;
}
.contact-container{
    display: flex;
    flex: 1;
    justify-content: space-between;
    
    margin: 16px 0px;
}
.contact-left{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}
.download{
    max-width: 60%;
    font-size: 20px;
    text-align: center;
}

.imageEdit{
    width: 500px;
        /* width of container */
        height: 160px;
        /* height of container */
        object-fit: cover;
        object-position: 20% 550%;
}


@media only screen and (max-width: 720px) {
  .contact-container{
   flex-direction: column;
   justify-content: center;
   align-items: center;

  } 
.contact-left {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 12px;
}
.download {
    max-width: 100%;
}
.imageEdit {
  margin-left: -74px;
}
}