.header {
  display: flex;

  justify-content: space-between;
  flex: 1;
  padding: 12px;
  position: relative;
  align-items: center;
}
.menu {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
.left_header {
  font-size: 2rem;
  color: red;
  -webkit-flex: 0.2 1;
  flex: 0.2 1;
}
.mobile-menu {
  display: none;
}
.web-menu {
  display: flex;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
@media only screen and (max-width: 720px) {
  .mobile-menu {
    display: flex;
  }
  .web-menu {
    display: none;
  }
  .left_header {
    font-size: 1.5rem;
  }
}
