.about {
  padding-bottom: 48px;
}

.about-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picture {
  height: 420px;
  border-radius: 29px
}
.about-info {
  font-size: 24px;
}
.info-name {
  font-family: "Sacramento", cursive;
  text-transform: none;
  font-weight: 400;
  color: #41b0bf !important;
  font-size: 1em !important;
}
@media only screen and (max-width: 720px) {
  .about-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .picture {
    height: 249px;
      margin-top: 16px;
      border-radius: 29px
  }
  .about-info {
    font-size: 20px;
  }
  .info-name {
    color: blue;
    font-size: 26px;
  }
}
